<!DOCTYPE html>
<html>
<head>
    <title>Проблема загрязнения мирового океана</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Проблема загрязнения мирового океана</h1>
    <h2>Загрязнения</h2>
    <p>Мусор встречается нами повсеместно: в городе, в лесу, на улице и даже в морях и океанах. </p>
    <h3>Как же можно помочь?</h3>
             <ul>
                   <li>Самый простой способ не выбрасывать мусор куда попало во время отдыха, будь то в воде или на суше</li>
                   <li>Ещё вы можете участвовать в мероприятиях на примере очищения пляжей</li>
                   <li>А так же вы можете жертвовать благотворительным для обитателей морей и океанов</li>
             </ul>
    <p>Больше информации вы можете найти в нашем Телеграм Боте<p>
     <img src="https://avatars.mds.yandex.net/i?id=b593ea4a546374648375f371308f7d000480a61d-3267431-images-thumbs&n=13" alt="Image 1">
</body>
</html>